<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="col-12 d-flex justify-content-center">
          <div class="col-10 mt-4">
           <mat-form-field appearance="outline" class="col-12">
             <mat-label>Date of TRC meeting</mat-label>
             <input matInput>

           </mat-form-field>
 
           <mat-form-field appearance="outline" class="col-12">
             <mat-label> Business Presenter</mat-label>
             <input matInput>
           </mat-form-field>
 
           <mat-form-field appearance="outline" class="col-12">
             <mat-label>Client Name</mat-label>
             <input matInput>
           </mat-form-field>
 
           <mat-form-field appearance="outline" class="col-12">
             <mat-label>Transaction Name and brief Transaction Summary</mat-label>
             <textarea matInput></textarea>
           </mat-form-field>
 
           <mat-form-field appearance="outline" class="col-12">
             <mat-label>. Reason for Referral to TRC:</mat-label>
             <textarea matInput></textarea>
           </mat-form-field>
 
           <mat-form-field appearance="outline" class="col-12">
             <mat-label>Target Trade/ 
               Commitment Date
               </mat-label>
               <input matInput>
           </mat-form-field>
 
           <mat-form-field appearance="outline" class="col-12">
             <mat-label> Business Area(s) and Division</mat-label>
             <input matInput>
           </mat-form-field>
 
           <mat-form-field appearance="outline" class="col-12">
             <mat-label>Booking / Commitment Region
             </mat-label>
             <input matInput>
           </mat-form-field>
 
           <mat-form-field appearance="outline" class="col-12">
             <mat-label>Booking / Commitment Entity</mat-label>
             <input matInput>
           </mat-form-field>
 
           <mat-form-field appearance="outline" class="col-12">
             <mat-label>Other Absa entities involved</mat-label>
             <input matInput>
           </mat-form-field>
 
           <mat-form-field appearance="outline" class="col-12">
             <mat-label>Is Markets Structuring involved?</mat-label>
             <input matInput>
           </mat-form-field>
 
           <mat-form-field appearance="outline" class="col-12">
             <mat-label>. Is there any cross border services activity involved?</mat-label>
             <input matInput>
           </mat-form-field>
 
           <mat-form-field appearance="outline" class="col-12">
             <mat-label>Risks and Mitigants</mat-label>
             <input matInput>
           </mat-form-field>
 
           <mat-form-field appearance="outline" class="col-12">
             <mat-label>Sponsorship Approvals</mat-label>
             <input matInput>
           </mat-form-field>
 
           <mat-form-field appearance="outline" class="col-12">
             <mat-label>Deal transaction paper</mat-label>
             <input matInput>
           </mat-form-field>
 
           <mat-form-field appearance="outline" class="col-12">
             <mat-label>Adverse media report</mat-label>
             <input matInput>
           </mat-form-field>

           <div class="col-12 d-flex justify-content-end mb-4 mt-2">
            <button mat-raised-button color="primary" class="mr-2">Capture</button>
            <button mat-raised-button color="warn">Cancel</button>
           </div>
          </div>
          </div>
      </div>
    </div>
  </div>

</div>
